---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.pagination_prev_next {
    @include clearfix();
    float: left;
    width: 100%;
    /* next/previous buttons */
    &--pager {
        margin-top: 0em;
        padding-top: 0em;
        display: block;
        padding: 1em 2em;
        //float: left;
        width: 100%;
        font-family: $sans-serif;
        font-size: $type-size-5;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        color: $muted-text-color;
        border: 1px solid mix(#000, $border-color, 25%);
        border-radius: $border-radius;

        //.prev_next {
        //    font-family: $cute;
       //     color: #ffd861;
       // }
    }
}

@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 100;
    src: url(/assets/css/fonts/NotoSansKR-Thin.ttf) format('truetype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 200;
    src: url(/assets/css/fonts/NotoSansKR-ExtraLight.ttf) format('truetype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 300;
    src: url(/assets/css/fonts/NotoSansKR-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 400;
    src: url(/assets/css/fonts/NotoSansKR-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 500;
    src: url(/assets/css/fonts/NotoSansKR-Medium.ttf) format('truetype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 600;
    src: url(/assets/css/fonts/NotoSansKR-SemiBold.ttf) format('truetype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 700;
    src: url(/assets/css/fonts/NotoSansKR-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 800;
    src: url(/assets/css/fonts/NotoSansKR-ExtraBold.ttf) format('truetype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 900;
    src: url(/assets/css/fonts/NotoSansKR-Black.ttf) format('truetype');
}